:root{
    --white: #FFFFFF;
    --black: #000000;
    --purple: #6F2CFF;
    --light-purple: #EFE9F9;
    --red-hearts: #A50954;
    --blue-hearts

}
body{
    font-family:"Nunito":
    margin:0;
}